<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blankets R Us</title>
</head>
<body>
    <header>
        <div class="header-top-bar">
            <div class="social-media-icons">
                <img src="../public/imgs/twitter.png" alt="Twitter link" class="social-icon">
                <img src="../public/imgs/facebook.png" alt="Facebook link" class="social-icon">
                <img src="../public/imgs/instagram.png" alt="Instagram link" class="social-icon">
            </div>
            <div class="header-top-text">
                <p>Free Shipping in the US</p>
            </div>
            <div class="header-top-currency">
                <
            </div>
        </div>
        <div class="header-logo-bar">

        </div>
        <nav>

        </nav>
    </header>
    <div class="img-carousel">

    </div>
    <div class="featured">

    </div>
    <div class="sales">

    </div>
    <footer>

    </footer>
</body>
</html>